---
import AnchorButton from "@components/AnchorButton.vue";
import RootLayout from "./RootLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import ChevronLeft from "~icons/mdi/chevron-left";

export interface Props {
  header?: string;
  message?: string;
  returnUrl?: string;
  returnText?: string;
  status?: number;
  response?: Response;
}

const { returnUrl, returnText, ...props } = Astro.props;
const status = props.response?.status ?? props.status ?? 0;
const header =
  props.header ??
  props.response?.friendlyTitle ??
  props.response?.statusText ??
  "An error occurred";
const message =
  props.message ??
  props.response?.friendlyDescription ??
  "An error occurred. Please try again.";
---

<RootLayout title={`${status ? status + ": " : ""}${header}`}>
  <PageHeader>{status && <emph>{status}: </emph>}{header}</PageHeader>
  <div class="message">
    <p>{message}</p>
    {
      returnUrl && (
        <AnchorButton href={returnUrl}>
          <ChevronLeft width={32} height={32} />
          {returnText ?? "Go back"}
        </AnchorButton>
      )
    }
  </div>
  <div class="filler"></div>
</RootLayout>

<style>
  .message {
    margin: auto auto;
    text-align: center;
    font-weight: 500;
  }
  .filler {
    flex-shrink: 999;
    font-size: 4rem;
    flex-grow: 1;
    max-height: 8rem;
    max-height: calc(
      4rem + 4rem + 0.67em
    ); /* intended to emulate the height of the <h1> at the top of the page */
  }
</style>
